* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --color--bg: #0d2f50;
  --color--border: #05192d;
  --color--highlight: #134d6f;
  --color--txt: #cdcdcd;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--color--bg);
  color: var(--color--txt);
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;

  height: 100vh;
  overflow: hidden;
}

#scene-container {
  width: 100%;
  height: 100%;
}

canvas {
  margin: 0 auto;
}
