#buy-tower-modal,
#sell-tower-modal {
	position: absolute;
	top: 3rem;
	right: 2rem;
	opacity: 0;
	z-index: 2;
}
#sell-tower-modal {
	z-index: 1;
}

#buy-tower-modal ul {
	list-style: none;
	display: flex;
}

#buy-tower-modal ul li {
	list-style: none;
	display: flex;
}

#buy-tower-modal ul li button {
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#buy-tower-modal ul li button img {
	width: 42px;
	height: 42px;
}

#buy-tower-modal button:hover {
	opacity: 0.8;
	transition: 0.4s;
}

#sell-tower-modal.visible,
#buy-tower-modal.visible {
	transition: 0.4s;
	opacity: 1;
}
